.DS_Store
.vs
/ContentPlusSolution/AdminSection/AdminModel/bin
/ContentPlusSolution/AdminSection/AdminModel/obj
/ContentPlusSolution/AdminSection/AdminServer/obj
/ContentPlusSolution/AdminSection/AdminServer/bin
/ContentPlusSolution/AdminSection/AdminService/bin
/ContentPlusSolution/AdminSection/AdminService/obj
/ContentPlusSolution/MangerSection/MangerModel/bin
/ContentPlusSolution/MangerSection/MangerModel/obj
/ContentPlusSolution/MangerSection/MangerServer/obj
/ContentPlusSolution/MangerSection/MangerServer/bin
/ContentPlusSolution/MangerSection/MangerService/obj
/ContentPlusSolution/MangerSection/MangerService/bin
/ContentPlusSolution/NuclearPart/Core/bin
/ContentPlusSolution/NuclearPart/Core/obj
/ContentPlusSolution/NuclearPart/Entity/obj
/ContentPlusSolution/NuclearPart/Entity/bin
/ContentPlusSolution/NuclearPart/MongoDiagnosis/bin
/ContentPlusSolution/NuclearPart/MongoDiagnosis/obj
/ContentPlusSolution/AdminSection/AdminServer/contentRoot/nlog
