<app-header></app-header>
<div
  class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat card bg-right-center"
  style="background-image: url(), url(assets/images/background/bg-4.png)"
>
  <div class="container">
    <!-- TITLE START -->

    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-uppercase text-danger sep-line-one">
            <span class="font-weight-300 site-text-primary text-danger"
              >Our</span
            >
            Blocks
          </h2>
          <p class="fs-4 mt-3">
            MSG Factory Includes Block Plant that relies on the latest
            technology in manufacturing, along with the availability of the best
            raw materials and the best methods of treatment in the presence of
            qualified skilled technicians.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block1.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Hollow Cement Block</h4>
            <p>20*20*40 CM</p>
            <p class="text-danger">20$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block3.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Hollow Cement Block</h4>
            <p>15*20*20 CM</p>
            <p class="text-danger">18$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block2.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Hollow Cement Block</h4>
            <p>10*10*20 CM</p>
            <p class="text-danger">15$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block4.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Fluted Cement Block</h4>
            <p>20*20*40 CM</p>
            <p class="text-danger">25$</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block8.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Fluted Cement Block</h4>
            <p>10*10*20 CM</p>
            <p class="text-danger">23$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block6.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Solid Cement Block</h4>
            <p>20*20*40 CM</p>
            <p class="text-danger">28$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block5.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Solid Cement Block</h4>
            <p>15*20*20 CM</p>
            <p class="text-danger">26$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block7.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Solid Cement Block</h4>
            <p>10*20*20 CM</p>
            <p class="text-danger">17$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block10.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Hourdy Cement Block</h4>
            <p>40*20*20*38 CM</p>
            <p class="text-danger">30$</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block9.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Hourdy Cement Block</h4>
            <p>40*20*25*38 CM</p>
            <p class="text-danger">28$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block12.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Insulated Block</h4>
            <p>20*20*40 CM</p>
            <p class="text-danger">24$</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="our-team-1 hover-animation-1">
          <div class="profile-image scale-in-center">
            <img src="assets/images/block11.jpeg" alt="" />
          </div>
          <div class="figcaption">
            <h4>Insulated Block</h4>
            <p>10*10*40 CM</p>
            <p class="text-danger">14$</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
    <strong class="text-danger">Blocks</strong>
  </div>
</div>

<div
  class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat bg-right-center"
  style="
    background-image: url(assets/images/mission),
      url(assets/images/background/bg-4.png);
  "
>
  <div class="section-content">
    <div class="container">
      <!-- TITLE START -->
      <div class="section-head">
        <div class="mt-separator-outer separator-center">
          <div class="mt-separator">
            <h2 class="text-uppercase text-danger sep-line-one">
              <span class="font-weight-300 site-text-primary text-danger"
                >Ready</span
              >
              Mix concrete
            </h2>
            <p class="fs-5 mt-4">
              MSG Factory for Ready-mix concrete is characterized by its ability
              to provide services to contractors in various construction work
              and at all times relying on an experienced, highly qualified and
              efficient team as well as its commitment to provide products with
              the highest quality and production criteria.
            </p>
          </div>
        </div>
      </div>
      <!-- TITLE END -->
      <p class="fs-6 text-danger text-center">
        There are different types of design mix that we manufacture Vary from
        one client to another: on request, but the most important
      </p>
      <div class="row">
        <div class="col-lg-3">
          <div class="our-team-1 hover-animation-1">
            <div class="profile-image scale-in-center">
              <img src="assets/images/projects/square/pic5.jpg" alt="" />
            </div>
            <div class="figcaption">
              <h4>Reinforced Concrete-250</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="our-team-1 hover-animation-1">
            <div class="profile-image scale-in-center">
              <img src="assets/images/projects/square/pic4.jpg" alt="" />
            </div>
            <div class="figcaption">
              <h4>Reinforced Concrete-300</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="our-team-1 hover-animation-1">
            <div class="profile-image scale-in-center">
              <img src="assets/images/projects/square/pic7.jpg" alt="" />
            </div>
            <div class="figcaption">
              <h4>Reinforced Concrete-350</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="our-team-1 hover-animation-1">
            <div class="profile-image scale-in-center">
              <img src="assets/images/projects/square/pic8.jpg" alt="" />
            </div>
            <div class="figcaption">
              <h4>Reinforced Concrete-400</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
    <strong class="text-danger"> Mix concrete</strong>
  </div>
</div>

<div
  class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat card bg-right-center"
  style="
    background-image: url(assets/images/gallery/pic4.jpg),
      url(assets/images/background/bg-4.png);
  "
>
  <div class="section-content">
    <div class="container">
      <!-- TITLE START -->
      <div class="section-head">
        <div class="mt-separator-outer separator-center">
          <div class="mt-separator">
            <h2 class="text-uppercase text-danger sep-line-one">
              <span class="font-weight-300 site-text-primary text-danger">
                Crusher</span
              >
              Material
            </h2>
            <p class="fs-5 mt-4">
              Based on the remarkable evolution of our organization, we want to
              deepen our roots in the field of construction and its basics. The
              idea of establishing a crusher in the area of Al-Hammad that is
              rich of the black basalt stone, which is considered absolutely the
              best in the production of the block and precast
              concrete and asphalt.
            </p>
          </div>
        </div>
      </div>
      <!-- TITLE END -->

      <div class="row">
        <div class="col-lg-3">
          <div class="our-team-1 hover-animation-1">
            <div class="profile-image scale-in-center">
              <img src="assets/images/S1.jpeg" alt="" />
            </div>
            <div class="figcaption">
              <h4>3/8 AGGREGATE</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="our-team-1 hover-animation-1">
            <div class="profile-image scale-in-center">
              <img src="assets/images/S3.jpeg" alt="" />
            </div>
            <div class="figcaption">
              <h4>3/16 AGGREGATE</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="our-team-1 hover-animation-1">
            <div class="profile-image scale-in-center">
              <img src="assets/images/S2.jpeg" alt="" />
            </div>
            <div class="figcaption">
              <h4>1/2 AGGREGATE</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
    <strong class="text-danger">Crusher Material</strong>
  </div>
</div>

<div
  class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat card bg-right-center"
  style="background-image: url(), url(assets/images/background/bg-4.png)"
>
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-danger text-uppercase sep-line-one">
            <span class="font-weight-300 site-text-primary text-danger"
              >Ready
            </span>
            Mixed Concrete
          </h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div
            class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30"
          >
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"
                ><img
                  src="assets/images/C2.jpeg"
                  alt=""
                  style="width: 420px; height: 300px"
              /></a>
            </div>

            <div class="post-overlay-position mt-post-info p-a30">
              <div class="mt-post-title">
                <h4 class="post-title m-b0">Concrete 15MPA-OPC/SRC</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30"
          >
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"
                ><img
                  src="assets/images/C3.jpeg"
                  alt=""
                  style="width: 420px; height: 300px"
              /></a>
            </div>

            <div class="post-overlay-position mt-post-info p-a30">
              <div class="mt-post-title">
                <h4 class="post-title m-b0">Concrete 20MPA-OPC/SRC</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30"
          >
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"
                ><img
                  src="assets/images/C4.jpeg"
                  alt=""
                  style="width: 420px; height: 300px"
              /></a>
            </div>

            <div class="post-overlay-position mt-post-info p-a30">
              <div class="mt-post-title">
                <h4 class="post-title m-b0">Concrete 25MPA-OPC/SRC</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30"
          >
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"
                ><img
                  src="assets/images/C5.jpeg"
                  alt=""
                  style="width: 420px; height: 300px"
              /></a>
            </div>
            <div class="post-overlay-position mt-post-info p-a30">
              <div class="mt-post-title">
                <h4 class="post-title m-b0">Concrete 30MPA-OPC/SRC</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30"
          >
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"
                ><img
                  src="assets/images/C6.jpeg"
                  alt=""
                  style="width: 420px; height: 300px"
              /></a>
            </div>

            <div class="post-overlay-position mt-post-info p-a30">
              <div class="mt-post-title">
                <h4 class="post-title m-b0">Concrete 35MPA-OPC/SRC</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30"
          >
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"
                ><img
                  src="assets/images/C7.jpeg"
                  alt=""
                  style="width: 420px; height: 300px"
              /></a>
            </div>

            <div class="post-overlay-position mt-post-info p-a30">
              <div class="mt-post-title">
                <h4 class="post-title m-b0">Concrete 38MPA-OPC/SRC</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30"
          >
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"
                ><img
                  src="assets/images/C1.jpeg"
                  alt=""
                  style="width: 420px; height: 300px"
              /></a>
            </div>

            <div class="post-overlay-position mt-post-info p-a30">
              <div class="mt-post-title">
                <h4 class="post-title m-b0">Concrete 40MPA-OPC/SRC</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
    <strong class="text-danger">Ready Mixed Concrete</strong>
  </div>
</div>
