<!--header-->
<div class="header">
  <app-header></app-header>
</div>
<!--//header-->
<div class="page-content">
  <!--section slider-->
  <app-slider></app-slider>
  <!--//section slider-->
  <!--section welcome -->
  <div class="section bg-norepeat bg-md-none section-top-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pl-lg-3 pt-lg-5">
          <div class="title-wrap-alt">
            <div class="h-sub-lined theme-color">About us</div>
            <h2 class="h1">
              Medical Supervision that Only a
              <span class="theme-color">Clinic Can Provide</span>
            </h2>
          </div>
          <p class="p-bold">
            Dr. Barbara Glover, N.D. is a Body Contouring Expert with a clinical
            focus in weight loss and weight management care
          </p>
          <p>
            Having been introduced to naturopathic medicine while studying for
            her medical entrance exams, Dr. Barbara practices integratively,
            often collaborating with Medical Doctors, Registered Massage
            Therapists, Chiropractors, Psychotherapists and other Health Care
            Practitioners.
          </p>
          <div class="signature mt-3">
            <div class="signature-img">
              <img src="assets/images/content/signature.png" alt="Signature" />
            </div>
            <div class="signature-text">
              <h5>Dr. Barbara Glover</h5>
              Naturopathic Doctor, Certified Personal Trainer, Ideal Protein
              Coach
            </div>
          </div>
          <div class="mt-2"></div>
          <a
            href="#"
            class="btn-link btn-link--sm"
            data-toggle="modal"
            data-target="#modalBookingForm"
            >schedule a visit<i class="icon-right-arrow"></i
          ></a>
        </div>
        <div class="col-md-6 mb-lg-5 position-relative mt-3 mt-md-0">
          <div class="img-with-bg">
            <img src="assets/images/content/index-img-01.jpg" alt="" />
            <img src="assets/images/content/img-bg.png" class="img-bg" alt="" />
          </div>
          <a
            href="#"
            class="video-btn-circle-left js-video-btn"
            data-toggle="modal"
            data-src="https://www.youtube.com/embed/uyWt48mWmz0"
            data-target="#videoModal"
          >
            <span><i class="icon-play"></i></span>
          </a>
          <!-- Video Modal -->
          <div class="modal video-modal fade" id="videoModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      data-src="https://www.youtube.com/embed/mDHGaU_jGrQ?start=10"
                      src="https://www.youtube.com/embed/mDHGaU_jGrQ?start=10"
                      frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //Video Modal -->
          <div class="over-image-card pos-center">
            <div class="over-image-card-icon"><i class="icon-info"></i></div>
            <div class="over-image-card-text">
              <h4>Patient Information</h4>
              <p>
                The following information will be of interest to weight loss
                surgery patients.
              </p>
              <a href="form-download.html" class="btn btn-white btn-white--all"
                ><i class="icon-right-arrow"></i><span>download forms</span
                ><i class="icon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//section welcome -->
  <!--section-->

  <div class="section bg-dotted">
    <div class="container-fluid">
      <div class="title-wrap text-center">
        <h2
          class="h1 double-title double-title--white double-title--center double-title--vcenter"
          data-title="Our Services"
        >
          <span>General Services</span>
        </h2>
        <div class="h-decor"></div>
      </div>
      <div class="services-grid">
        <div class="service-card-style4">
          <a href="service-page.html">
            <div class="service-card-img w-400px">
              <img src="assets/images/Lip Augmentation.jpeg" alt="" />
            </div>
            <h5 class="service-card-name">Lip Augmentation</h5>
            <div class="service-card-bg">
              <i class="icon-salat"></i>
              <h5 class="service-card-name">Lip Augmentation</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <span class="btn-plus">+</span>
              <div class="service-card-img-num">1</div>
            </div>
          </a>
        </div>

        <div class="service-card-style4">
          <a href="service-page.html">
            <div class="service-card-img w-400px">
              <img src="assets/images/Facial implants.jpeg" alt="" />
            </div>
            <h5 class="service-card-name">Facial implants</h5>
            <div class="service-card-bg">
              <i class="icon-run"></i>
              <h5 class="service-card-name">Facial implants</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <span class="btn-plus">+</span>
              <div class="service-card-img-num">2</div>
            </div>
          </a>
        </div>

        <div class="service-card-style4">
          <a href="service-page.html">
            <div class="service-card-img w-400px">
              <img src="assets/images/This is the heading.png" alt="" />
            </div>
            <h5 class="service-card-name">This is the heading</h5>
            <div class="service-card-bg">
              <i class="icon-pills"></i>
              <h5 class="service-card-name">This is the heading</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <span class="btn-plus">+</span>
              <div class="service-card-img-num">3</div>
            </div>
          </a>
        </div>

        <div class="service-card-style4">
          <a href="service-page.html">
            <div class="service-card-img">
              <img src="assets/images/Breast Implant.png" alt="" />
            </div>
            <h5 class="service-card-name">Breast Implant</h5>
            <div class="service-card-bg">
              <i class="icon-behavior"></i>
              <h5 class="service-card-name">Breast Implant</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <span class="btn-plus">+</span>
              <div class="service-card-img-num">4</div>
            </div>
          </a>
        </div>

        <div class="service-card-style4">
          <a href="service-page.html">
            <div class="service-card-img">
              <img src="assets/images/heading.png" alt="" />
            </div>
            <h5 class="service-card-name">This is the heading</h5>
            <div class="service-card-bg">
              <i class="icon-happy"></i>
              <h5 class="service-card-name">This is the heading</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <span class="btn-plus">+</span>
              <div class="service-card-img-num">5</div>
            </div>
          </a>
        </div>

        <div class="service-card-style4">
          <a href="service-page.html">
            <div class="service-card-img">
              <img src="assets/images/Buttock Augmentation.png" alt="" />
            </div>
            <h5 class="service-card-name">Buttock Augmentation</h5>
            <div class="service-card-bg">
              <i class="icon-molecula"></i>
              <h5 class="service-card-name">Buttock Augmentation</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <span class="btn-plus">+</span>
              <div class="service-card-img-num">6</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--//section-->

  <!--section blog posts -->
  <div class="section bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="blog-post blog-post-style4">
            <div class="post-image">
              <a href="blog-post-page.html"
                ><img src="assets/images/blog/blog-post-preview-1.jpg" alt=""
              /></a>
            </div>
            <div class="blog-post-info">
              <div class="post-date-simple mt-5 mb-2">April 4, 2020</div>
              <h2 class="post-title">
                <a href="blog-post-page.html"
                  >How to Improve Heart Rate Variability in 3 Easy Steps</a
                >
              </h2>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="blog-post blog-post-style4">
            <div class="post-image">
              <a href="blog-post-page.html"
                ><img src="assets/images/sleep.jpg" alt=""
              /></a>
            </div>
            <div class="blog-post-info">
              <div class="post-date-simple mt-5">April 4, 2020</div>
              <h2 class="post-title">
                <a href="blog-post-page.html"
                  >Your Sleep Quality Probably Sucks. How to Know and What to
                  Do.</a
                >
              </h2>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-post blog-post-style4">
            <div class="post-image">
              <a href="blog-post-page.html"
                ><img src="assets/images/blog/blog-post-preview-2.jpg" alt=""
              /></a>
            </div>
            <div class="blog-post-info">
              <div class="post-date-simple mt-5">April 4, 2020</div>
              <h2 class="post-title">
                <a href="blog-post-page.html"
                  >What should you eat On daily basis to live a healthy life
                  ?</a
                >
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--//section blog posts -->
  <!--section -->
  <div class="section bg-grey mt-0 py-0">
    <div class="container-fluid px-0 over-visible">
      <div class="row white-col-wrap">
        <div class="col-md-6 white-col">
          <div class="white-col-inside">
            <div class="title-wrap-alt">
              <div class="h-sub-lined theme-color">Why us?</div>
              <h2 class="h1">
                Weight Loss is Not<br class="d-sm-none" />Just about the
                <br class="d-sm-none" /><span class="theme-color"
                  >Calories and Exercise</span
                >
              </h2>
            </div>
            <p>
              Our approach allows to identify the underlying causes that are
              acting as obstacles which must be addressed before weight loss can
              be achieved. This approach not only allows you to lose unwanted
              weight but more importantly allows you to achieve overall health.
            </p>
            <ul class="marker-list-md">
              <li>Access to the latest drugs and treatments</li>
              <li>Over 25 years’ experience</li>
            </ul>
            <div class="mt-3 mt-lg-5">
              <div class="counter-box-grid">
                <div class="counter-box-sm">
                  <div class="counter-box-sm-number">
                    <span class="count" data-to="120" data-speed="1500">0</span
                    ><span class="sup">K</span>
                  </div>
                  <div class="counter-box-sm-text">Kilograms Lost</div>
                </div>
                <div class="counter-box-sm">
                  <div class="counter-box-sm-number">
                    <span class="count" data-to="20" data-speed="1500">0</span
                    ><span class="sup">+</span>
                  </div>
                  <div class="counter-box-sm-text">Permanent Staff</div>
                </div>
                <div class="counter-box-sm">
                  <div class="counter-box-sm-number">
                    <span class="count" data-to="25" data-speed="1500">0</span
                    ><span class="sup">+</span>
                  </div>
                  <div class="counter-box-sm-text">Years Experience</div>
                </div>
                <div class="counter-box-sm">
                  <div class="counter-box-sm-number">
                    <span class="count" data-to="10" data-speed="1500">0</span
                    ><span class="sup">K+</span>
                  </div>
                  <div class="counter-box-sm-text">Happy Clients</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-0 mb-lg-7 image-right-fullheight-col">
          <div class="image-right-fullheight">
            <img src="assets/images/content/banner-right.jpg" alt="" />
            <div class="image-corner image-corner--left">
              <i class="icon-achivement"></i>
            </div>
          </div>
          <div class="over-image-card over-image-card--sm pos-center-1">
            <div class="over-image-card-icon">
              <i class="icon-phone-time"></i>
            </div>
            <div class="over-image-card-text">
              <h4>Free 15 Min Consultation</h4>
              <p>
                Use the form to book your FREE 15 min telephone consultation.
              </p>
              <a
                href="#"
                class="btn btn-white btn-white--all"
                data-toggle="modal"
                data-target="#modalBookingForm"
                ><i class="icon-right-arrow"></i><span>book consultation</span
                ><i class="icon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//section -->
  <!--section prices-->
  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <img
            src="assets/images/content/img-bg-top-left.png"
            class="img-bg-top-left"
            alt=""
          />
        </div>
        <div class="col-lg-4">
          <div class="prices-box prices-box--style3 prices-box--special">
            <div class="prices-box-row">Week of Appetite Suppressant</div>
            <div class="prices-box-row">Crave-a-Way Supplement</div>
            <div class="prices-box-row">MetaBlast Supplement</div>
            <div class="prices-box-row">Weekly Weigh-ins</div>
            <div class="prices-box-row">Physician Consultation</div>
            <div class="prices-box-link"></div>
          </div>
        </div>
        <div class="col-lg-4 mt-0">
          <div class="prices-box prices-box--style3">
            <div class="prices-box-row">Month of Appetite Suppressant</div>
            <div class="prices-box-row">Daily Probiotic</div>
            <div class="prices-box-row">Weekly Weigh-ins</div>
            <div class="prices-box-row">Physician Consultation</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 h-400px">
          <img src="assets/images/img.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!--//section prices-->
  <!--section call us-->
  <div class="section mt-5">
    <div class="container">
      <div class="banner-call">
        <div class="row no-gutters">
          <div
            class="col-sm-6 col-lg-7 d-flex align-items-center justify-content-center px-15"
          >
            <div class="text-center">
              <h2>
                What are You <br class="d-sm-none" /><span class="theme-color"
                  >Weighting</span
                >
                for?<br />Let's Get Started
              </h2>
              <div class="h-decor"></div>
              <p class="mt-sm-1 mt-lg-4 text-center">
                We pride ourselves in offering programs designed in accordance
                with healthy weight-loss practices. Our staff provide you with
                professional guidance AND behavior modification.
              </p>
              <div class="mt-2 mt-lg-4">
                <h6 class="banner-call-text">Call Now:</h6>
                <a href="#" class="banner-call-phone"
                  ><i class="icon-telephone"></i>1-800-267-0000</a
                >
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-lg-5 col-xl-4 mt-3 mt-md-0">
            <img
              src="assets/images/content/banner-callus.jpg"
              class="shift-right-2"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//section call us-->
</div>
<!--footer-->
<app-footer></app-footer>
<!--//footer-->

<div class="modal modal-form modal-form-sm fade" id="modalQuestionForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal">
        <i class="icon-error"></i>
      </button>
      <div class="modal-body">
        <div class="modal-form">
          <h3>Ask a Question</h3>
          <form class="mt-15" id="questionForm" method="post" novalidate>
            <div class="successform">
              <p>Your message was sent successfully!</p>
            </div>
            <div class="errorform">
              <p>
                Something went wrong, try refreshing and submitting the form
                again.
              </p>
            </div>
            <div class="input-group">
              <span>
                <i class="icon-user"></i>
              </span>
              <input
                type="text"
                name="name"
                class="form-control"
                autocomplete="off"
                placeholder="Your Name*"
              />
            </div>
            <div class="input-group">
              <span>
                <i class="icon-email2"></i>
              </span>
              <input
                type="text"
                name="email"
                class="form-control"
                autocomplete="off"
                placeholder="Your Email*"
              />
            </div>
            <div class="input-group">
              <span>
                <i class="icon-smartphone"></i>
              </span>
              <input
                type="text"
                name="phone"
                class="form-control"
                autocomplete="off"
                placeholder="Your Phone"
              />
            </div>
            <textarea
              name="message"
              class="form-control"
              placeholder="Your comment*"
            ></textarea>
            <div class="text-right mt-2">
              <button type="submit" class="btn btn-sm btn-hover-fill">
                Ask Now
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-form fade" id="modalBookingForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal">
        <i class="icon-error"></i>
      </button>
      <div class="modal-body">
        <div class="modal-form">
          <h3>Book an Appointment</h3>
          <form class="mt-15" id="bookingForm" method="post" novalidate>
            <div class="successform">
              <p>Your message was sent successfully!</p>
            </div>
            <div class="errorform">
              <p>
                Something went wrong, try refreshing and submitting the form
                again.
              </p>
            </div>
            <div class="input-group">
              <span>
                <i class="icon-user"></i>
              </span>
              <input
                type="text"
                name="bookingname"
                class="form-control"
                autocomplete="off"
                placeholder="Your Name*"
              />
            </div>
            <div class="row row-xs-space mt-1">
              <div class="col-sm-6">
                <div class="input-group">
                  <span>
                    <i class="icon-email2"></i>
                  </span>
                  <input
                    type="text"
                    name="bookingemail"
                    class="form-control"
                    autocomplete="off"
                    placeholder="Your Email*"
                  />
                </div>
              </div>
              <div class="col-sm-6 mt-1 mt-sm-0">
                <div class="input-group">
                  <span>
                    <i class="icon-smartphone"></i>
                  </span>
                  <input
                    type="text"
                    name="bookingphone"
                    class="form-control"
                    autocomplete="off"
                    placeholder="Your Phone"
                  />
                </div>
              </div>
            </div>
            <div class="row row-xs-space mt-1">
              <div class="col-sm-6">
                <div class="input-group">
                  <span>
                    <i class="icon-birthday"></i>
                  </span>
                  <input
                    type="text"
                    name="bookingage"
                    class="form-control"
                    autocomplete="off"
                    placeholder="Your age"
                  />
                </div>
              </div>
            </div>
            <div class="selectWrapper input-group mt-1">
              <span>
                <i class="icon-micro"></i>
              </span>
              <select name="bookingservice" class="form-control">
                <option selected="selected" disabled="disabled">
                  Select Service
                </option>
                <option value="Molecular Testing & Oncology">
                  Molecular Testing & Oncology
                </option>
                <option value="Histology">Histology</option>
                <option value="General Diagnostic Tests">
                  General Diagnostic Tests
                </option>
                <option value="Naturopathic">Naturopathic</option>
                <option value="Genetics Tests">Genetics Tests</option>
                <option value="Cytology">Cytology</option>
              </select>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span>
                <i class="icon-calendar2"></i>
              </span>
              <div class="datepicker-wrap">
                <input
                  name="bookingdate"
                  type="text"
                  class="form-control datetimepicker"
                  placeholder="Date"
                  readonly
                />
              </div>
            </div>
            <div class="input-group flex-nowrap mt-1">
              <span>
                <i class="icon-clock"></i>
              </span>
              <div class="datepicker-wrap">
                <input
                  name="bookingtime"
                  type="text"
                  class="form-control timepicker"
                  placeholder="Time"
                />
              </div>
            </div>
            <textarea
              name="bookingmessage"
              class="form-control"
              placeholder="Your comment"
            ></textarea>
            <div class="text-right mt-2">
              <button type="submit" class="btn btn-sm btn-hover-fill">
                Book now
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
