<div class="card">
  <div class="card-body">
    <div class="w-lg-500px p-10">
      <form class="form w-100" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="text-center mb-11">
          <h1 class="text-dark fw-bolder mb-3">{{ 'Account.SignIn' | translate }}</h1>
          <div class="text-gray-500 fw-semibold fs-6">Your Social Campaigns</div>
        </div>
        <div class="fv-row mb-10 fv-plugins-icon-container">
          <label class="form-label fs-6 fw-bolder text-dark">
            {{ 'Account.Email' | translate }}
          </label>
          <input class="form-control form-control-lg form-control-solid" name="username" autocomplete="off" type="email"
            formControlName="username" placeholder="{{ 'Account.Email' | translate }}"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <ng-container *ngIf="submitted && f.username.errors">
            <div class="fv-plugins-message-container invalid-feedback" *ngIf="f.username.errors.required">
              {{ 'Account.Email' | translate }} {{ 'Common.IsRequired' | translate }}
            </div>
          </ng-container>
        </div>
        <div class="fv-row mb-10 fv-plugins-icon-container">
          <div class="d-flex justify-content-between mt-n5">
            <label class="form-label fs-6 fw-bolder text-dark">
              {{ 'Account.Password' | translate }}
            </label>
          </div>
          <input class="form-control form-control-lg form-control-solid" type="password" name="password"
            autocomplete="off" formControlName="password" placeholder="{{ 'Account.Password' | translate }}"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <ng-container *ngIf="submitted && f.password.errors">
            <div class="fv-plugins-message-container invalid-feedback" *ngIf="f.password.errors.required">
              {{ 'Account.Password' | translate }} {{ 'Common.IsRequired' | translate }}
            </div>
          </ng-container>
        </div>
        <div class="pb-lg-0 pb-5 text-center">
          <button type="submit" id="kt_login_signin_submit" class="btn btn-lg btn-primary w-100 mb-5"
            [disabled]="loading">
            <div class="spinner-border text-white h-20px w-20px" role="status" *ngIf="loading"></div>
            <span class="fs-4 mx-2 fw-bold">{{ 'Account.SignIn' | translate }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
